<a href="https://colab.research.google.com/github/Amodhrayyadav/.well-known/blob/main/PythonAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Amodh Ray Yadav || Roll.no: 24BCP365 ||Division: 5

Lab-1st
1.)	Add two numbers,subtract,multiply and divide

In [ ]:
a = 9
b = 89
print(9+89)
print(a-b)
print(a*b)
print(a/b)

98
-80
801
0.10112359550561797

# New Section

6.)Convert hours into minutes.

In [ ]:
hour = 6
minute = 60 * hour
print(minute)

360

7.)Convert minutes into hours.

In [ ]:
minute = 56
hour = minute/60
print(hour)

0.9333333333333333

8.)Convert dollars into Rs. Where 1 $ = 48 Rs.

In [ ]:
doller = 89
rs = doller * 82
print(rs)

7298

9.)Convert Rs. into dollars where 1 $ = 48 Rs.

In [ ]:
rs = 980
doller = rs/82
print(doller)

11.951219512195122

10.)	Convert dollars into pound where 1 $ = 48 Rs. And 1 pound = 70 Rs.

In [ ]:
doller = 89
rs = doller * 82
pound = rs /70
print('doller to pound is ',pound)

doller to pound is  104.25714285714285

11.)	Convert grams into kg.

In [ ]:
gram = 900
kg = gram /1000
print('gm to kg is ',kg)

gm to kg is  0.9

12.)	Convert kgs into grams.

In [ ]:
kg = 9
gram = kg * 1000
print('kg to gram',gram)

kg to gram 9000

13.)	Convert bytes into KB, MB and GB.

In [ ]:
byte = 12355
kb = byte / 1024
mb = kb /1042
gb = mb / 1024
print('byte to kb is',kb,'byte to mb is ',mb,'byte to gb is ',gb)

byte to kb is 12.0654296875 byte to mb is  0.011579107185700576 byte to gb is  1.1307721861035719e-05

14.)	Convert celcius into Fahrenheit. F = (9/5 * C) + 32

In [ ]:
celcius = 98
fehrenheit = (9/5*celcius)+32
print(fehrenheit)

208.4

15.)	Convert Fahrenheit into celcius. C = 5/9 * (F – 32)

In [ ]:
fehrenheit = 980
celcius = (5/9)*(fehrenheit-32)
print(celcius)

526.6666666666667

16.)	Calculate interest where I = PRN/100.

In [ ]:
p = 89898
t = 9
r = 7
intrest = (p*t*r)/100
print(intrest)

56635.74

17.)	Calculate area & perimeter of a square. A = L^2, P = **4L**

In [ ]:
length = 98
area = length ** 2
perimeter = 4 * length
print(area)
print(perimeter)

9604
392

18.)	Calculate area & perimeter of a rectangle. A = L*B, P = 2 (L+B)

In [ ]:
l = 89
b = 9
a = l * b
b = 2*(l+b)
print(a)
print(b)

801
196

19.)	Calculate area of a circle. A = 22/7 * R * R

In [ ]:
r = 98
a = (22/7)*r*r
print(a)

30184.0

20.)	Calculate area of a triangle. A = H*L/2

In [ ]:
h = 8
l = 9
a = (h*l)/2
print(a)

36.0

23.)	Calculate average of three subjects along with their total.

In [ ]:
math = 98
phy = 67
chem = 65
total = math + phy + chem
avg = total / 3
print(total)
print(avg)

230
76.66666666666667

24.)	Swap two values.

In [ ]:
a = 6
b = 9
a = a + b
b = a - b
a = a - b
print(a,b)

9 6

22.)	Calculate net sales where net sales = gross sales – 10% discount of gross sales.

In [ ]:
grosalary = 89000
netsalery = grosalary - (grosalary*10)/100
print(netsalery)

80100.0

21.)	Calculate net salary
where net salary = gross salary + allowance – deduction.
Allowances are 10% while deductions are 3% of gross salary.

In [ ]:
grossalary = 9000
allow = (grossalary*10)/100
deduc = (grossalary*3)/100
netsalary = grossalary + allow -deduc
print(netsalary)

9630.0

Lab-2 If-else conditionals
1.)Print largest and smallest values out of two.

In [ ]:
num1= 23
num2 = 45
if (num1>num2):
  print("Num1 is largest values")
else:
  print("num1 is smallest")

if(num2>num1):
  print("num2 is largest values")
else:
  print("num2 is smallest")

num1 is smallest
num2 is largest values

2.)	Print largest and smallest values out of three.

In [ ]:
num1 = 45
num2 = 46
num3 = 89
if(num1>num2 and num1 >num3):
  print("num1 is largest values")
else:
  print("num1 is smallest")
if(num2>num3 and num2>num1):
    print("num2 is largest values")
else:
  print("num2 is smallest")
if(num3>num1 and num3>num2):
  print("num3 is largest")
else:
  print("num3 is smallest")

num1 is smallest
num2 is smallest
num3 is largest

3.)	Check whether a given number is odd or even

In [ ]:
num = 3
if(num%2==0):
  print("Even")
else:
  print("odd")

odd

4.)	Check whether a given number is divisible by 10 or not.

In [ ]:
num = 45
if(num%10==0):
  print("it is divisiable by 10")

else:
  print("not it is not divisiable by 10")

not it is not divisiable by 10

5.)	Accept age of a person. If age is less than 18, print minor otherwise Major.

In [ ]:
age = int(input("Enter the age of person:"))
if(age<18):
  print("minor")

else:
  print("major")

Enter the age of person:12
minor

6.)	Accept a number from the user. And print number of digits in it.

In [ ]:
num = input("Enter the numbers:")
print(len(num))

Enter the numbers:1234
4

7.)	Accept a year value from the user. Check whether it is a leap year or not.

In [ ]:
year = int(input("Enter the year:"))
if( year % 4 == 0 and ( year % 400 == 0 or year % 100 != 0 )):
  print("it is a leap year")
else:
  print("it is not leap year")

Enter the year:2025
it is not leap year

8.)	Check whether a triangle is valid or not, when the three angles of the triangle are entered through the keyboard. A triangle is valid if te sum of all the three angles is equal to 180 degrees.

In [ ]:
side1 = int(input("Enter the 1st side:"))
side2 = int(input("Enter the 2nd side:"))
side3  = int(input("Enter the 3rd side:"))
if(side1 + side2 +side3 == 180):
  print("triange is valid")
else:
  print("triange is invalid")

Enter the 1st side:60
Enter the 2nd side:60
Enter the 3rd side:60
triange is valid

9.)	Print absolute value of a given number.

In [ ]:
num  = -9
print(abs(num))

9

10.)	Given the length and breadth of a rectangle, write a program to find whether theare of the rectangle is greater than its perimeter.

In [ ]:
len = 89
breath = 8
area = len * breath
perimeter = 2*(len + breath)
if(area > perimeter):
  print('area is greater than perimeter')
else:
  print('area is smaller than perimeter')

area is greater than perimeter

11.)	Given three points (x1,y1), (x2,y2) and (x3,y3), check if all the three points fall on one straight line

In [ ]:
x1 = 5
x2 = 8
x3 =9
y1 =3
y2 = 4
y3 =7
a = (x1*(y2-y3))+(x2*(y3-y1))+(x3*(y1-y2))
if (a == 0):
  print('all the points fall on one stright line')
else:
  print("all the points dont fall on one stright line")

all the points dont fall on one stright line

12.)	Given the coordinates (x,y) of center of a circle and its radius, determine whether a point lies inside the circle, on the circle or outside the circle. (Hint: Use sqrt( ), pow( ) )

In [ ]:
import math


circle_x = 0
circle_y = 0
radius = 5
point_x = 3
point_y = 4


distance = math.sqrt(math.pow(point_x - circle_x, 2) + math.pow(point_y - circle_y, 2))


if distance < radius:
    print(f"The point ({point_x}, {point_y}) is inside the circle.")
elif distance == radius:
    print(f"The point ({point_x}, {point_y}) is on the circle.")
else:
    print(f"The point ({point_x}, {point_y}) is outside the circle.")

The point (3, 4) is on the circle.

13.)	Convert number 0 to 19 to its equivalent words. E.g. 0  zero, 19nineteen.

In [ ]:

number = 0

number_words = [
    "zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine",
    "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen",
    "seventeen", "eighteen", "nineteen"
]


if 0 <= number <= 19:
    print(f"The number {number} is written as '{number_words[number]}'.")
else:
    print("Number is out of range (0-19).")

The number 0 is written as 'zero'.

14.)	Accept marks of three subjects. Print total and average along with whether a candidate has passed or fail. If student secures <= 39 marks in any subject, consider him as fail. Also assigned a subject wise grade based on the following table:
**bold text**

In [ ]:
sub1 = int(input("Enter the maths mark:"))
sub2 = int(input("Enter the chemistry mark:"))
sub3 = int(input("Enter the physics mark:"))
sum = sub1+sub2+sub3 /3
if(sub1 <= 39 or sub2 <=39 or sub3<=39):
  print("Fail")

elif(sum>= 40 and sum <=44 ):
  print("P")

elif(sum>= 45 and sum <=49 ):
  print("C")

elif(sum>= 50 and sum <=54 ):
  print("B")

elif(sum>= 55 and sum <=59 ):
  print("B+")

elif(sum>= 60 and sum <= 69 ):
  print("A")

elif(sum>= 70 and sum <= 79):
  print("A+")

elif(sum>= 80 and sum <=100 ):
  print("O")

else:
  print("good")

Enter the maths mark:98
Enter the chemistry mark:78
Enter the physics mark:65
good

Lab-3 loops structure in Python
1.)print all alphabets in upper case and in lower case.

In [ ]:

for i in range(26):
  print(chr(i+65))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

2.)Print a multiplication table of a given number.

In [ ]:
num = 8
for i in range(1,11):
  print(num*i)

8
16
24
32
40
48
56
64
72
80

3.)Count no. of alphabets and no. of digits in any given string.

In [ ]:
input_string = input("enter the value:")
alphabets = 0
digits =0
for char in input_string:
        if char.isalpha():
            alphabets += 1
        elif char.isdigit():
            digits += 1

print(alphabets,digits)

enter the amodh567
5 3

4.)Check whether a given number is prime, is perfect, is Armstrong, is palindrome, is automorphic.

In [ ]:
inp_num = int(input('Enter the num:'))
print('the entered num is',inp_num)
if(inp_num == 1):
    print("it is not a prime num.")
elif(inp_num%2 and inp_num%3 != 0):
    print('it is a prime num')
else:
    print('it is not a prime no.')

Enter the num:99
the entered num is 99
it is not a prime no.

5.)Generate all Pythagorean Triplets with side length <= 30.

In [ ]:
side1 = int(input("Enter the first side:"))
side2 = int(input("Enter the second side:"))
side3 = int(input("Enter the third side:"))
if((side1**2)+(side2**2)==(side3**2) or (side3**2)+(side2**2)==(side1**2) or (side1**2)+(side3**2)==(side2**2)):
  print("It is a triplets of pythogorean")

else:
  print("Not")

Enter the first side:3
Enter the second side:4
Enter the third side:5
It is a triplets of pythogorean

6.)Print 24 hours of day with suitable suffixes like AM, PM, Noon and Midnight.

In [ ]:
for hour in range(24):
    if hour == 0:
        print("12:00 Midnight")
    elif hour == 12:
        print("12:00 Noon")
    elif hour < 12:
        print(f"{hour}:00 AM")
    else:
        print(f"{hour - 12}:00 PM")

12:00 Midnight
1:00 AM
2:00 AM
3:00 AM
4:00 AM
5:00 AM
6:00 AM
7:00 AM
8:00 AM
9:00 AM
10:00 AM
11:00 AM
12:00 Noon
1:00 PM
2:00 PM
3:00 PM
4:00 PM
5:00 PM
6:00 PM
7:00 PM
8:00 PM
9:00 PM
10:00 PM
11:00 PM

7.)Print nCr and nPr.

In [ ]:
n = int(input("Enter value of n: "))
r = int(input("Enter value of r: "))

n_fact = 1
for i in range(1, n + 1):
    n_fact *= i

r_fact = 1
for i in range(1, r + 1):
    r_fact *= i

n_r_fact = 1
for i in range(1, n - r + 1):
    n_r_fact *= i

nCr = n_fact // (r_fact * n_r_fact)

nPr = n_fact // n_r_fact

print("The nCr is",nCr)
print("The nPr is",nPr)

Enter value of n: 7
Enter value of r: 4
The nCr is 35
The nPr is 840

8.)Print factorial of a given number

In [ ]:
n = int(input("Enter the num:"))
fact = 1
for i in range(1,n+1):
  fact *= i

print("The factorial of n is:",fact)

Enter the num:5
The factorial of n is: 120

9.)Print N natural nos. in reverse.

In [ ]:
N = int(input("Enter the num:"))
for i in range(N,0,-1):
  print(i)

Enter the num:5
5
4
3
2
1

10.)	Generate N numbers of Fibonacci series.

In [ ]:
N = int(input("Enter the number : "))

a, b = 0, 1

print("Fibonacci series:")
for i in range(N):
    print(a, end=" ")
    a, b = b, a + b

Enter the number : 5
Fibonacci series:
0 1 1 2 3

11.)Calculate sin(x); x is a radian value. The formula is as under:

Lab-4(Strings)
1.)Count how many vowels are there in a string. Accept the string from the user.

In [ ]:
str = input("Enter the string:")
vowels = "aeiouAEIOU"
count = 0
for char in str:
  if char in vowels:
    count += 1

print("The num of vowels in the string is :",count)

Enter the string:amodh
The num of vowels in the string is : 2

2.)	Write your own functions (without using built-in functions) to convert all characters of a string into lower case/upper case/toggle case.

In [ ]:
str = input("Enter the str to convert:")
lowercase_result = ""
for char in str:
  if 'A' <= char <= 'Z':

    lowercase_result += chr(ord(char)+32)

  else:
    lowercase_result += char

print("lowercase string:",lowercase_result)

Enter the str to convert:AMOH
lowercase string: amoh

3.)Accept two strings. Check whether one string is there in another string.

In [ ]:
str1 = input("Enter the first str:")
str2 = input("Enter the second str:")
found = False
for i in range(len(str1)-len(str2)+1):
  if str[i:i+len(str2)] ==str2:
    found = True
  break

if found:
  print(str2,"is present in",str1)

else:
  print("Not present")

Enter the first str:amodh ray yadav
Enter the second str:amodh
Not present

4.)Write a function that removes one string from another string, if present. E.g. Onestring = “abcdef”, removestring = “cd”. The finalstring should contain “abef”.

In [ ]:
onestring =input("Enter the string:")
removestring =input("Enter the char to remove:")
finalstring = onestring.replace(removestring, "")
print(finalstring)

Enter the string:amodhrayyadav
Enter the char to remove:ray
amodhyadav

Lab-5(List)
1.)Create a list of 5 odd integers using random nos. Similarly create a list of 4 even integers using random nos. Replace the third element of odd integers with  a list of 4 even integers. Flattern, sort and print the list. Provide appropriate message at each stage.

In [ ]:
import random
random_list =[ random.randint(1,10) for _ in range(0,21)]
print(random_list)

num = int(input("Enter a num:"))
for i in range(len(random_list)):
  if random_list[i] == num:
    print(i)

[8, 8, 5, 8, 4, 6, 5, 6, 10, 7, 3, 7, 10, 1, 8, 3, 9, 2, 6, 8, 8]
Enter a num:8
0
1
3
14
19
20

2.)Generate 20 random integers and store them in a list. Accept a number from the user and print position of all occurrences of that number in the list.

In [ ]:
import random

random_list = [random.randint(1, 100) for _ in range(20)]
print("Generated list:", random_list)

num = int(input("Enter a number to search for: "))
positions = [i for i, x in enumerate(random_list) if x == num]

if positions:
    print("Positions of", num, "in the list:", positions)
else:
    print(num, "not found in the list.")

Generated list: [41, 65, 38, 6, 87, 33, 23, 55, 90, 50, 31, 60, 62, 95, 89, 63, 71, 20, 99, 17]
Enter a number to search for: 89
Positions of 89 in the list: [14]

3.)Generate 50 random numbers in the range 1 and 30. Remove all duplicate values from the list.

In [ ]:
import random

random_list = [random.randint(1, 30) for _ in range(50)]
print("Original list:", random_list)

unique_list = list(set(random_list))
print("List with duplicates removed:", unique_list)

Original list: [6, 1, 22, 11, 25, 1, 25, 24, 11, 10, 12, 27, 17, 1, 23, 11, 25, 18, 1, 15, 18, 8, 22, 16, 28, 17, 26, 5, 22, 21, 1, 4, 25, 24, 27, 15, 30, 9, 25, 27, 22, 3, 11, 13, 1, 19, 15, 18, 18, 7]
List with duplicates removed: [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 30]

4.)Generate 30 random numbers and put them in a list. Create two more lists – one containing only +ve numbers and another with –ve nos.

In [ ]:
import random


random_numbers = [random.randint(-100, 100) for _ in range(30)]


positive_numbers = [num for num in random_numbers if num > 0]
negative_numbers = [num for num in random_numbers if num < 0]

print("Original list:", random_numbers)
print("Positive numbers:", positive_numbers)
print("Negative numbers:", negative_numbers)

Original list: [86, 22, 78, 5, 100, -72, 11, 93, 89, -29, -11, -16, 35, -57, -69, 46, -95, 96, 91, -81, -75, -54, 88, -23, 7, -2, 25, -21, 85, 49]
Positive numbers: [86, 22, 78, 5, 100, 11, 93, 89, 35, 46, 96, 91, 88, 7, 25, 85, 49]
Negative numbers: [-72, -29, -11, -16, -57, -69, -95, -81, -75, -54, -23, -2, -21]

5.)A list contains 5 strings. Convert all these strings to uppercase.

In [ ]:
string_list = ["hello", "world", "python", "programming", "list"]
uppercase_list = [string.upper() for string in string_list]
uppercase_list

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING', 'LIST']

6.)Convert list of temperatures in Fahrenheit degrees to equivalent Celsius degrees.

In [ ]:
fahrenheit_list = [32, 68, 100, 212]
celsius_list = [(f - 32) * 5/9 for f in fahrenheit_list]

print("Fahrenheit:", fahrenheit_list)
print("Celsius:", celsius_list)

Fahrenheit: [32, 68, 100, 212]
Celsius: [0.0, 20.0, 37.77777777777778, 100.0]

7.)Write a menu-driven program to implement the stack data structure

In [ ]:
stack = []

while True:
    print("\nStack Menu:")
    print("1. Push")
    print("2. Pop")
    print("3. Peek")
    print("4. Display")
    print("5. Exit")

    choice = int(input("Enter your choice: "))

    if choice == 1:
        item = input("Enter item to push: ")
        stack.append(item)
        print(f"{item} pushed onto the stack.")
    elif choice == 2:
        if stack:
            print(f"{stack.pop()} popped from the stack.")
        else:
            print("Stack is empty. Nothing to pop.")
    elif choice == 3:
        if stack:
            print(f"Top element is: {stack[-1]}")
        else:
            print("Stack is empty.")
    elif choice == 4:
        if stack:
            print("Stack elements: ", stack)
        else:
            print("Stack is empty.")
    elif choice == 5:
        print("Exiting program.")
        break
    else:
        print("Invalid choice! Please enter a valid option.")

Stack Menu:
1. Push
2. Pop
3. Peek
4. Display
5. Exit
Enter your choice: 5
Exiting program.

8.)Write a menu-driven program to implement the Queue data structure

In [ ]:
queue = []

while True:
    print("\nQueue Menu:")
    print("1. Enqueue")
    print("2. Dequeue")
    print("3. Peek")
    print("4. Display")
    print("5. Exit")

    choice = int(input("Enter your choice: "))

    if choice == 1:
        item = input("Enter item to enqueue: ")
        queue.append(item)
        print(f"{item} enqueued into the queue.")
    elif choice == 2:
        if queue:
            print(f"{queue.pop(0)} dequeued from the queue.")
        else:
            print("Queue is empty. Nothing to dequeue.")
    elif choice == 3:
        if queue:
            print(f"Front element is: {queue[0]}")
        else:
            print("Queue is empty.")
    elif choice == 4:
        if queue:
            print("Queue elements: ", queue)
        else:
            print("Queue is empty.")
    elif choice == 5:
        print("Exiting program.")
        break
    else:
        print("Invalid choice! Please enter a valid option.")

Queue Menu:
1. Enqueue
2. Dequeue
3. Peek
4. Display
5. Exit
Enter your choice: 5
Exiting program.

9.)Take two lists of numbers. Create third list of numbers for only those numbers from first list which are not there in 2nd list (use list comprehension).

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]

list3 = [x for x in list1 if x not in list2]
list3

[1, 2, 4]

Lab-6(Tuples)Q.no.1)A list contains names of boys and girls as its elements. Boys’ names are stored as tuples. Write a program to find out number of boys and girls in the list. (Hint: use isinstance(ele,tuple))

In [ ]:
names = [("Sangam",), "Alice", ("Mike",), "Emma", ("David",), "Sneh"]

boys = 0
girls = 0


for name in names:
    if isinstance(name, tuple):
        boys += 1
    else:
        girls += 1

print("Number of boys:", boys)
print("Number of girls:", girls)

Number of boys: 3
Number of girls: 3

Q.no.2)A list contains tuples containing roll no., name and age of student. Write a python program to create three lists separately for roll no., name and age

In [ ]:
students = [
    (101, "Alice", 20),
    (102, "Bob", 21),
    (103, "Charlie", 19),
    (104, "David", 22)
]

roll_numbers = []
names = []
ages = []

for student in students:
    roll_numbers.append(student[0])
    names.append(student[1])
    ages.append(student[2])


print("Roll Numbers:", roll_numbers)
print("Names:", names)
print("Ages:", ages)

Roll Numbers: [101, 102, 103, 104]
Names: ['Alice', 'Bob', 'Charlie', 'David']
Ages: [20, 21, 19, 22]

Q.no.3)	Suppose a date is represented as a tuple (d, m, y). Create two date tuples and find the number of days between the two dates.

In [ ]:
from datetime import datetime

date1 = (15, 10, 2023)
date2 = (25, 10, 2023)


dt1 = datetime(date1[2], date1[1], date1[0])
dt2 = datetime(date2[2], date2[1], date2[0])


delta = abs((dt2 - dt1).days)

print(f"Number of days between {date1} and {date2}: {delta}")

Number of days between (15, 10, 2023) and (25, 10, 2023): 10

Q.no.4.)Create a list of tuples containing a food item and its price. Sort the tuples in descending order by price.

In [ ]:
food_items = [
    ("Pizza", 12.99),
    ("Burger", 8.99),
    ("Pasta", 10.49),
    ("Salad", 6.99),
    ("Ice Cream", 4.99)
]

food_items.sort(key=lambda x: x[1], reverse=True)

print("Food items sorted by price (descending order):")
for item, price in food_items:
    print(f"{item}: ${price:.2f}")

Food items sorted by price (descending order):
Pizza: $12.99
Pasta: $10.49
Burger: $8.99
Salad: $6.99
Ice Cream: $4.99

Q.no.5.)Remove empty tuple(s) from the list of tuples.

In [ ]:
list_of_tuples = [(1, 2), (), (3, 4), (), (5, 6), ()]

filtered_list = [t for t in list_of_tuples if t]


print("List after removing empty tuples:", filtered_list)

List after removing empty tuples: [(1, 2), (3, 4), (5, 6)]

Q.no.6.)Modify an element of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

modified_tuple = my_tuple[:2] + (10,) + my_tuple[3:]

print("Modified tuple:", modified_tuple)

Modified tuple: (1, 2, 10, 4, 5)

Q.no.7.)	Delete an element of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

value_to_delete = 3

new_tuple = tuple(item for item in my_tuple if item != value_to_delete)

print("Tuple after deletion:", new_tuple)

Tuple after deletion: (1, 2, 4, 5)

Lab-7(Dictionary)Q.no.1)	Write a program to create three dictionaries and concatenate them to create fourth dictionary

In [ ]:
dict1 = {'Maths':67, 'Chemistry':87}
dict2 = {'python':56,'bio':54}
dict3 = {'OB':65,'english':56}
dict4 = {**dict1,**dict2,**dict3}

print(dict4)

{'Maths': 67, 'Chemistry': 87, 'python': 56, 'bio': 54, 'OB': 65, 'english': 56}

Q.no.2.) Write a program to check whether a dictionary is empty or not.

In [ ]:
d = {}
if not d:
  print("It is an empty")

else:
  print('not')

It is an empty

Q.no.3.)Create a dictionary with dept no, employee roll no. and salary. Find out department wise min and maximum of salary.

In [ ]:
from collections import defaultdict
employees = [
    {"dept_no": 101, "roll_no": 1, "salary": 50000},
    {"dept_no": 101, "roll_no": 2, "salary": 60000},
    {"dept_no": 102, "roll_no": 3, "salary": 45000},
    {"dept_no": 102, "roll_no": 4, "salary": 70000},
    {"dept_no": 103, "roll_no": 5, "salary": 55000},
    {"dept_no": 103, "roll_no": 6, "salary": 65000},
]

dept_salaries = defaultdict(list)

for emp in employees:
    dept_salaries[emp["dept_no"]].append(emp["salary"])

dept_salary_stats = {
    dept: {"min_salary": min(salaries), "max_salary": max(salaries)}
    for dept, salaries in dept_salaries.items()
}

for dept, stats in dept_salary_stats.items():
    print(f"Department {dept}: Min Salary = {stats['min_salary']}, Max Salary = {stats['max_salary']}")

Department 101: Min Salary = 50000, Max Salary = 60000
Department 102: Min Salary = 45000, Max Salary = 70000
Department 103: Min Salary = 55000, Max Salary = 65000

Q.no.4.)Write a program that reads a string from the keyboard and creates dictionary containing frequency of each character occurring in the string.

In [ ]:
string = input("Enter a string: ")
char_freq = {}

for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1

print("Character Frequency Dictionary:", char_freq)

Enter a string: Amodh
Character Frequency Dictionary: {'A': 1, 'm': 1, 'o': 1, 'd': 1, 'h': 1}

Q.no.5.)	Create two dictionaries – one containing grocery items and their prices and another containing grocery items and quantity purchased. By using the values from these two dictionaries compute the total bill.

In [ ]:
grocery_prices = {
    "Rice": 50,
    "Sugar": 40,
    "Milk": 30,
    "Eggs": 6,
    "Bread": 25
}

grocery_quantity = {
    "Rice": 2,
    "Sugar": 1,
    "Milk": 3,
    "Eggs": 12,
    "Bread": 2
}

total_bill = sum(grocery_prices[item] * grocery_quantity[item] for item in grocery_prices if item in grocery_quantity)

print("Item-wise Cost:")
for item in grocery_prices:
    if item in grocery_quantity:
        cost = grocery_prices[item] * grocery_quantity[item]
        print(f"{item}: {grocery_quantity[item]} × {grocery_prices[item]} = {cost}")

print(f"\nTotal Bill: ₹{total_bill}")

Item-wise Cost:
Rice: 2 × 50 = 100
Sugar: 1 × 40 = 40
Milk: 3 × 30 = 90
Eggs: 12 × 6 = 72
Bread: 2 × 25 = 50

Total Bill: ₹352

lab-8(Set) Q.no.1.)Write a program that converts words present in a list into uppercase and stores them in a set.

In [ ]:


words = ["apple", "banana", "orange", "grape", "kiwi"]

uppercase_set = {word.upper() for word in words}

uppercase_set

{'APPLE', 'BANANA', 'GRAPE', 'KIWI', 'ORANGE'}

Q.no.2.)Write a program to create a set containing 10 random numbers in the range 15 to 45. Count how many of these numbers are less than 30. Delete all numbers that are greater than 35.

In [ ]:

import random

random_set = set()
while len(random_set) < 10:
  random_set.add(random.randint(15, 45))

print("Original set:", random_set)

count_less_than_30 = sum(1 for num in random_set if num < 30)
print("Number of elements less than 30:", count_less_than_30)

numbers_to_remove = {num for num in random_set if num > 35}
random_set -= numbers_to_remove

print("Set after removing numbers greater than 35:", random_set)

Original set: {35, 36, 38, 40, 15, 17, 23, 25, 27, 31}
Number of elements less than 30: 5
Set after removing numbers greater than 35: {35, 15, 17, 23, 25, 27, 31}

Q.no.3.)Create an empty set. Write a program that adds five new names to this set, modifies one existing name and deletes two names from it.

In [ ]:

my_set = set()

my_set.add("Alice")
my_set.add("Bob")
my_set.add("Charlie")
my_set.add("David")
my_set.add("Eve")

print("Set after adding names:", my_set)

if "Bob" in my_set:
  my_set.remove("Bob")
  my_set.add("Robert")

print("Set after modifying a name:", my_set)

my_set.discard("Charlie")
my_set.discard("David")

print("Set after deleting names:", my_set)

Set after adding names: {'Charlie', 'Bob', 'Eve', 'Alice', 'David'}
Set after modifying a name: {'Charlie', 'Robert', 'Eve', 'Alice', 'David'}
Set after deleting names: {'Robert', 'Eve', 'Alice'}

Q.no.4.)A set contains names which begin either with A or with B. Write a program to separate out the names into two sets, one containing names beginning with A and another with B.

In [ ]:

names = {"Alice", "Bob", "Andrew", "Ben", "Alex", "Brian"}

names_starting_with_a = {name for name in names if name.startswith('A')}
names_starting_with_b = {name for name in names if name.startswith('B')}

print("Names starting with A:", names_starting_with_a)
print("Names starting with B:", names_starting_with_b)

Names starting with A: {'Alex', 'Alice', 'Andrew'}
Names starting with B: {'Brian', 'Bob', 'Ben'}

lab-9(Functions) Q.no.1.)	Write a program that defines a function count_lower_upper() that accepts a string and calculates the number of uppercase and lowercase alphabets in it. It should return these values as a dictionary. Call this function for some sample string.

In [ ]:

def count_lower_upper(input_string):

  uppercase_count = 0
  lowercase_count = 0

  for char in input_string:
    if 'A' <= char <= 'Z':
      uppercase_count += 1
    elif 'a' <= char <= 'z':
      lowercase_count += 1

  return {'uppercase': uppercase_count, 'lowercase': lowercase_count}

sample_string = "Hello World 123"
counts = count_lower_upper(sample_string)
print(f"In '{sample_string}':")
print(f"Uppercase letters: {counts['uppercase']}")
print(f"Lowercase letters: {counts['lowercase']}")

In 'Hello World 123':
Uppercase letters: 2
Lowercase letters: 8

Q.no.2.)Write a program that defines a function compute() that calculates the value of n + nn + nnn + nnnn, where n is digit received by the function. test the function for digits 4 to 7.

In [ ]:

def compute(n):

  nn = int(str(n) * 2)
  nnn = int(str(n) * 3)
  nnnn = int(str(n) * 4)
  return n + nn + nnn + nnnn

for i in range(4, 8):
  result = compute(i)
  print(f"For n = {i}, the result is: {result}")

For n = 4, the result is: 4936
For n = 5, the result is: 6170
For n = 6, the result is: 7404
For n = 7, the result is: 8638

Q.no.3.)Write a program that defines a function create_array() to create and return a 3D array whose dimensions are passed to the function. Also initialize each element of this aray to a value passed to the function. e.g. create_array(3,4,5,n) where first three arguments are 3D array dimensions and 4th value is for initialing each value of the 3D array.

In [ ]:

def create_array(x, y, z, n):
  array_3d = [[[n for _ in range(z)] for _ in range(y)] for _ in range(x)]
  return array_3d



x_dim = 3
y_dim = 4
z_dim = 5
initial_value = 0

my_3d_array = create_array(x_dim, y_dim, z_dim, initial_value)
my_3d_array

[[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]]

Q.no.4.)	Write a program that defines a function sum_avg() to accept marks of five subjects and calculates total and average. It should return  directly both values.

In [ ]:

def sum_avg(marks):

  total = sum(marks)
  average = total / len(marks)
  return total, average

marks = []
for i in range(5):
  mark = int(input(f"Enter marks for subject {i+1}: "))
  marks.append(mark)

total, average = sum_avg(marks)
33446
print(f"Total marks: {total}")
print(f"Average marks: {average}")

Enter marks for subject 1: 45
Enter marks for subject 2: 5
Enter marks for subject 3: 45
Enter marks for subject 4: 45
Enter marks for subject 5: 56
Total marks: 196
Average marks: 39.2

Q.no.5.)Pangram is a sentence that uses every letter of the alphabet. Write a program to check whether a given string is pangram or not, through a user-defined function ispangram(). Test the function with “The quick brown fox jumps over the lazy dog” or “Crazy Fredrick bought many very exquisite opal jewels”. Hint: use set() to convert the string into a set of characters present in the string and use <= to check whether alphaset is a subset of the given string.

In [ ]:

def ispangram(text):
  """Checks if a given string is a pangram."""

  alphaset = set('abcdefghijklmnopqrstuvwxyz')
  text = text.lower()
  return alphaset <= set(text)

string1 = "The quick brown fox jumps over the lazy dog"
string2 = "Crazy Fredrick bought many very exquisite opal jewels"

if ispangram(string1):
  print(f"'{string1}' is a pangram.")
else:
  print(f"'{string1}' is not a pangram.")

if ispangram(string2):
  print(f"'{string2}' is a pangram.")
else:
  print(f"'{string2}' is not a pangram.")

'The quick brown fox jumps over the lazy dog' is a pangram.
'Crazy Fredrick bought many very exquisite opal jewels' is a pangram.

Lab-10(File handeling)Q.no.1.)	Write a program to create a csv file that we can directly open in MS-Excel.

In [ ]:
import csv

def create_csv_for_excel(filename, data):
    try:
        with open(filename, 'w', newline='', encoding='utf-8') as csvfile:
            csv_writer = csv.writer(csvfile)
            csv_writer.writerows(data)
        print(f"CSV file '{filename}' created successfully.")
    except Exception as e:
        print(f"An error occurred: {e}")


data_to_write = [
    ["Name", "Age", "City"],
    ["Alice", 30, "New York"],
    ["Bob", 25, "Los Angeles"],
    ["Charlie", 35, "Chicago"],
]


create_csv_for_excel("my_excel_file.csv", data_to_write)

CSV file 'my_excel_file.csv' created successfully.

Q.no.2.)	Read the data stored in MS-Excel file and convert it into a dictionary. The record contains rollno, name of student, marks of three subjects. Also calculate total. Display the dictionary data on the monitor.

In [ ]:
import pandas as pd

def excel_to_dict(filepath):

    try:

        df = pd.read_excel(filepath)

        required_columns = ["rollno", "name", "subject1", "subject2", "subject3"]
        if not all(col in df.columns for col in required_columns):
            print("Error: Excel file must contain columns: rollno, name, subject1, subject2, subject3")
            return {}

        data_dict = {}
        for index, row in df.iterrows():
            rollno = row["rollno"]
            name = row["name"]
            subject1 = row["subject1"]
            subject2 = row["subject2"]
            subject3 = row["subject3"]

            total = subject1 + subject2 + subject3

            data_dict[rollno] = {
                "name": name,
                "subject1": subject1,
                "subject2": subject2,
                "subject3": subject3,
                "total": total
            }

        return data_dict

    except FileNotFoundError:
        print(f"Error: File not found at {filepath}")
        return {}
    except Exception as e:
        print(f"An error occurred: {e}")
        return {}

file_path = "student_data.xlsx"
student_data = excel_to_dict(file_path)

if student_data:
    print(student_data)

Error: File not found at student_data.xlsx

Q.no.3.)Accept contact details from the user and create a vcard that we can directly store in our mobile.

In [ ]:
import vobject

def create_vcard():


    vcard = vobject.vCard()

    vcard.add('fn').value = input("Enter full name: ")
    vcard.add('n').value = vobject.vcard.Name(family=input("Enter last name: "), given=input("Enter first name: "))

    while True:
      phone_number = input("Enter phone number (or type 'done' to finish): ")
      if phone_number.lower() == 'done':
          break
      vcard.add('tel').value = phone_number
      vcard.tel.type_param = 'CELL'

    while True:
      email = input("Enter email address (or type 'done' to finish): ")
      if email.lower() == 'done':
          break
      vcard.add('email').value = email

    while True:
      org = input("Enter organization name (or type 'done' to finish): ")
      if org.lower() == 'done':
          break
      vcard.add('org').value = org


    vcard.add('url').value = input("Enter website (optional): ")

    return vcard.serialize()

if __name__ == "__main__":
    vcard_data = create_vcard()
    print(vcard_data)
    with open("contact.vcf", "w") as f:
        f.write(vcard_data)
    print("vCard saved to contact.vcf")

Q.no.4.)	Create a specific subdirectory and copy one file from another subdirectory to this newly created subdirectory.

In [ ]:
import os
import shutil

def copy_file_to_new_subdir(source_subdir, source_file, dest_subdir):


    source_path = os.path.join(source_subdir, source_file)
    dest_path = os.path.join(dest_subdir, source_file)

    try:
        os.makedirs(dest_subdir, exist_ok=True)
        shutil.copy2(source_path, dest_path)
        return True
    except FileNotFoundError:
        print(f"Error: Source file '{source_path}' or source subdirectory not found.")
        return False
    except Exception as e:
        print(f"An error occurred: {e}")
        return False

source_subdir = "path/to/source/subdir"
source_file = "file.txt"
dest_subdir = "path/to/new/subdir"

if copy_file_to_new_subdir(source_subdir, source_file, dest_subdir):
    print(f"File '{source_file}' copied successfully to '{dest_subdir}'.")

Error: Source file 'path/to/source/subdir/file.txt' or source subdirectory not found.

Q.no.5.)	Write a program to copy contents of one file to another. While doing so, replace all lowercase characters into uppercase characters.

In [ ]:
def copy_and_uppercase(source_file, destination_file):

    try:
        with open(source_file, 'r') as infile, open(destination_file, 'w') as outfile:
            for line in infile:
                outfile.write(line.upper())
    except FileNotFoundError:
        print(f"Error: Source file '{source_file}' not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

source_file_path = 'source.txt'
destination_file_path = 'destination.txt'
copy_and_uppercase(source_file_path, destination_file_path)

Error: Source file 'source.txt' not found.

Q.no.6.)Write a program that merges lines alternatively from two files and writes the results to new file. If one file has less number of lines than the other,  the remaining lines from the larger file should be simply copied into the target file.

In [ ]:
def merge_files_alternatively(file1_path, file2_path, output_file_path):
    try:
        with open(file1_path, 'r') as file1, open(file2_path, 'r') as file2, open(output_file_path, 'w') as outfile:
            lines1 = file1.readlines()
            lines2 = file2.readlines()

            min_len = min(len(lines1), len(lines2))

            for i in range(min_len):
                outfile.write(lines1[i])
                outfile.write(lines2[i])

            remaining_lines = lines1[min_len:] if len(lines1) > len(lines2) else lines2[min_len:]
            outfile.writelines(remaining_lines)

    except FileNotFoundError:
        print(f"Error: One or both input files not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
merge_files_alternatively("file1.txt", "file2.txt", "merged_file.txt")

Error: One or both input files not found.

Q.no.7.)If an Employee object contains following details:
empcode, empname, Date of Joining, Salary
Write a program to serialize and deserialize this data.

In [ ]:
import pickle

class Employee:
    def __init__(self, empcode, empname, date_of_joining, salary):
        self.empcode = empcode
        self.empname = empname
        self.date_of_joining = date_of_joining
        self.salary = salary

# Example Employee object
emp = Employee("E001", "John Doe", "2024-01-15", 50000)

# Serialization
try:
    with open("employee.pickle", "wb") as file:
        pickle.dump(emp, file)
    print("Employee data serialized successfully!")
except Exception as e:
    print(f"Error during serialization: {e}")

# Deserialization
try:
    with open("employee.pickle", "rb") as file:
        loaded_emp = pickle.load(file)

    print("Employee data deserialized successfully!")
    print(f"Employee Code: {loaded_emp.empcode}")
    print(f"Employee Name: {loaded_emp.empname}")
    print(f"Date of Joining: {loaded_emp.date_of_joining}")
    print(f"Salary: {loaded_emp.salary}")
except Exception as e:
    print(f"Error during deserialization: {e}")

Employee data serialized successfully!
Employee data deserialized successfully!
Employee Code: E001
Employee Name: John Doe
Date of Joining: 2024-01-15
Salary: 50000

Q.no.8.)Given a text file, write a program to create another text file deleting the words ‘a’, ‘the’, ‘an’ and replacing each one of them with a blank space.

In [ ]:
def process_text_file(input_file, output_file):


    try:
        with open(input_file, 'r') as infile, open(output_file, 'w') as outfile:
            for line in infile:
                words = line.split()
                new_line = []

                for word in words:
                    if word.lower() in ('a', 'the', 'an'):
                        new_line.append(" ")
                    else:
                        new_line.append(word)

                outfile.write(" ".join(new_line) + '\n')
    except FileNotFoundError:
        print(f"Error: Input file '{input_file}' not found.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
input_filename = "input.txt"  # Replace with the actual input file name
output_filename = "output.txt" # Replace with desired output file name

process_text_file(input_filename, output_filename)

Error: Input file 'input.txt' not found.

Lab-11(Exception Handling)Q.no.1.)Write a program that receives an integer an input. If a string is entered instead of an integer, then report an error and give another chance to user to enter an integer. Continue this process till correct input is supplied.

In [ ]:
while True:
    try:
        user_input = input("Please enter an integer: ")
        integer_value = int(user_input)
        print("You entered:", integer_value)
        break
    except ValueError:
        print("Invalid input. Please enter an integer.")

Please enter an integer: 78
You entered: 78

Lab-12(Classes and Objects)Q.no.1.)Write a program to create a class that represents Complex numbers containing real and imaginary parts and then use it to perform complex number addition, subtraction, multiplication and division.

In [ ]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

    def __add__(self, other):
        return Complex(self.real + other.real, self.imag + other.imag)

    def __sub__(self, other):
        return Complex(self.real - other.real, self.imag - other.imag)

    def __mul__(self, other):
        return Complex(self.real * other.real - self.imag * other.imag,
                       self.real * other.imag + self.imag * other.real)

    def __truediv__(self, other):
        denominator = other.real**2 + other.imag**2
        return Complex((self.real * other.real + self.imag * other.imag) / denominator,
                       (self.imag * other.real - self.real * other.imag) / denominator)

    def __str__(self):
        return f"{self.real} + {self.imag}i"

# Example usage
c1 = Complex(2, 3)
c2 = Complex(1, 1)

print("Addition:", c1 + c2)
print("Subtraction:", c1 - c2)
print("Multiplication:", c1 * c2)
print("Division:", c1 / c2)

Addition: 3 + 4i
Subtraction: 1 + 2i
Multiplication: -1 + 5i
Division: 2.5 + 0.5i

Q.no.2.)	Write a program that implements a Matrix class and performs addition, multiplication and transpose operations on 3x3 matrices.

In [ ]:
class Matrix:
    def __init__(self, data):
        self.data = data
        self.rows = len(data)
        self.cols = len(data[0])

    def __add__(self, other):
        if self.rows != other.rows or self.cols != other.cols:
            raise ValueError("Matrices must have the same dimensions for addition.")
        result = [[self.data[i][j] + other.data[i][j] for j in range(self.cols)] for i in range(self.rows)]
        return Matrix(result)

    def __mul__(self, other):
        if self.cols != other.rows:
            raise ValueError("Number of columns in the first matrix must equal the number of rows in the second matrix.")
        result = [[0 for _ in range(other.cols)] for _ in range(self.rows)]
        for i in range(self.rows):
            for j in range(other.cols):
                for k in range(self.cols):
                    result[i][j] += self.data[i][k] * other.data[k][j]
        return Matrix(result)

    def transpose(self):
        result = [[self.data[j][i] for j in range(self.rows)] for i in range(self.cols)]
        return Matrix(result)

    def __str__(self):
        return "\n".join(str(row) for row in self.data)

# Example usage
matrix1_data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2_data = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

matrix1 = Matrix(matrix1_data)
matrix2 = Matrix(matrix2_data)

#Addition
matrix_sum = matrix1 + matrix2
print("Sum of matrices:")
print(matrix_sum)


#Multiplication
matrix_product = matrix1 * matrix2
print("\nProduct of matrices:")
print(matrix_product)

#Transpose
matrix_transpose = matrix1.transpose()
print("\nTranspose of matrix1:")
print(matrix_transpose)

Sum of matrices:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

Product of matrices:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

Transpose of matrix1:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Q.no.3.)Write a program to create a class that can calculate the surface area and volume of a solid. The class should also have a provision to accept the data relevant to the solid.

In [ ]:
import math

class Solid:
    def __init__(self, shape, **kwargs):
        self.shape = shape.lower()
        self.data = kwargs

    def calculate_surface_area(self):
        if self.shape == "sphere":
            radius = self.data.get("radius")
            if radius is not None:
                return 4 * math.pi * radius**2
            else:
              return "Radius is required for a sphere"

        elif self.shape == "cube":
            side = self.data.get("side")
            if side is not None:
              return 6 * side**2
            else:
                return "Side length is required for a cube"
        elif self.shape == "cylinder":
            radius = self.data.get("radius")
            height = self.data.get("height")
            if radius is not None and height is not None:
                return 2 * math.pi * radius * (radius + height)
            else:
                return "Radius and Height are required for a cylinder"

        else:
            return "Shape not recognized or insufficient data provided"


    def calculate_volume(self):
        if self.shape == "sphere":
            radius = self.data.get("radius")
            if radius is not None:
                return (4/3) * math.pi * radius**3
            else:
                return "Radius is required for a sphere"
        elif self.shape == "cube":
            side = self.data.get("side")
            if side is not None:
              return side**3
            else:
                return "Side length is required for a cube"
        elif self.shape == "cylinder":
            radius = self.data.get("radius")
            height = self.data.get("height")
            if radius is not None and height is not None:
                return math.pi * radius**2 * height
            else:
                return "Radius and Height are required for a cylinder"
        else:
            return "Shape not recognized or insufficient data provided"

Q.no.4.)	Write a program to create a class that can calculate the perimeter/circumference and area of a regular shape. The class should also have a provision to accept the data relevant to the shape.

In [2]:
import math

class RegularShape:
    def __init__(self, shape_type, *args):
        self.shape_type = shape_type
        if shape_type == "circle":
            self.radius = args[0]
        elif shape_type == "square":
            self.side = args[0]
        elif shape_type == "rectangle":
            self.length = args[0]
            self.width = args[1]
        elif shape_type == "triangle":
          self.side1 = args[0]
          self.side2 = args[1]
          self.side3 = args[2]
        else:
            raise ValueError("Invalid shape type")

    def calculate_perimeter(self):
        if self.shape_type == "circle":
            return 2 * math.pi * self.radius
        elif self.shape_type == "square":
            return 4 * self.side
        elif self.shape_type == "rectangle":
            return 2 * (self.length + self.width)
        elif self.shape_type == "triangle":
            return self.side1 + self.side2 + self.side3
        else:
          return "Invalid shape type"

    def calculate_area(self):
        if self.shape_type == "circle":
            return math.pi * self.radius**2
        elif self.shape_type == "square":
            return self.side**2
        elif self.shape_type == "rectangle":
            return self.length * self.width
        elif self.shape_type == "triangle":
            # Using Heron's formula
            s = (self.side1 + self.side2+ self.side3) / 2
            return math.sqrt(s * (s - self.side1) * (s - self.side2) * (s - self.side3))
        else:
          return "Invalid shape type"

# Example usage
circle = RegularShape("circle", 5)
print(f"Circle Perimeter: {circle.calculate_perimeter()}")
print(f"Circle Area: {circle.calculate_area()}")

square = RegularShape("square", 4)
print(f"Square Perimeter: {square.calculate_perimeter()}")
print(f"Square Area: {square.calculate_area()}")

rectangle = RegularShape("rectangle", 6, 8)
print(f"Rectangle Perimeter: {rectangle.calculate_perimeter()}")
print(f"Rectangle Area: {rectangle.calculate_area()}")

triangle = RegularShape("triangle", 3,4,5)
print(f"Triangle Perimeter: {triangle.calculate_perimeter()}")
print(f"Triangle Area: {triangle.calculate_area()}")

Circle Perimeter: 31.41592653589793
Circle Area: 78.53981633974483
Square Perimeter: 16
Square Area: 16
Rectangle Perimeter: 28
Rectangle Area: 48
Triangle Perimeter: 12
Triangle Area: 6.0

Q.no.5.)Write a program that creates and uses a Time class to perform various time arithmetic operations.

In [4]:
class Time:
    def __init__(self, hours=0, minutes=0, seconds=0):
        self.hours = hours
        self.minutes = minutes
        self.seconds = seconds

    def __str__(self):
        return "{:02d}:{:02d}:{:02d}".format(self.hours, self.minutes, self.seconds)

    def __add__(self, other):
        seconds = self.seconds + other.seconds
        minutes = self.minutes + other.minutes + seconds // 60
        hours = self.hours + other.hours + minutes // 60
        return Time(hours % 24, minutes % 60, seconds % 60)

    def __sub__(self, other):
        seconds = self.seconds - other.seconds
        minutes = self.minutes - other.minutes + seconds // 60
        hours = self.hours - other.hours + minutes // 60
        return Time(hours % 24, minutes % 60, seconds % 60)


# Example usage
time1 = Time(10, 30, 45)
time2 = Time(2, 15, 20)


print("Time 1:", time1)  # Output: Time 1: 10:30:45
print("Time 2:", time2) # Output: Time 2: 02:15:20

time3 = time1 + time2
print("Sum:", time3)  # Output: Sum: 12:46:05

time4 = time1 - time2
print("Difference:", time4)  # Output: Difference: 08:15:25

Time 1: 10:30:45
Time 2: 02:15:20
Sum: 12:46:05
Difference: 08:15:25

Q.no.6.)Write a program to create a class Datethat has a list containing day, month and year attributes. Define an overloaded == operator to compare two Date objects.

In [6]:
class Date:
    def __init__(self, day, month, year):
        self.date_list = [day, month, year]

    def __eq__(self, other):
        return self.date_list == other.date_list

Q.no.7.)Create a class Weather that has a list containing weather parameters. Define an overloaded in operator that checks whether an item is present in the list. (Hint: define the function __contains__( )in a class.)

In [9]:
class Weather:
    def __init__(self, weather_parameters):
        self.weather_parameters = weather_parameters

    def __contains__(self, item):
        return item in self.weather_parameters

Q.no.8.)	Implement a Stringclass containing the following functions:
a.	Overloaded += operator function to perform string concatenation
b.	Method toLower()to convert upper case letters to lower case.
c.	Method toUpper()to convert lower case letters to upper case.

In [ ]:
class String:
    def __init__(self, initial_string=""):
        self.string = initial_string

    def __iadd__(self, other):
        self.string += str(other)  # Convert other to string before concatenation
        return self

    def toLower(self):
        self.string = self.string.lower()

    def toUpper(self):
        self.string = self.string.upper()
c.	Method toUpper()to convert lower case letters to upper case.